<li>
	{{burger_name}}
	<hr>

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}EAT{{else}}PASS{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>